# specific files/directories

build
keyspace.py
keyspace_client.py

# hidden files/directories

.DS_Store
.sconsign*
.svn

# file patterns

*#*
*~
*.5
*.6
*.8
*.a
*.dylib
*.egg
*.jar
*.la
*.lo
*.o
*.pyc
*.pyo
*.so
*.swp
*.tar.bz2
*.tar.gz
*.tbz
*.tbz2
*.tgz

# file patterns (xcode)

*.mode1v3
*.mode2v3
*~.nib
*.pbxuser
*.perspective
*.perspectivev3
*.swp
*.tm_build_errors

# file patterns (windows)

*.dll
*.exe
*.ilk
*.lib
*.ncb
*.pdb
*.suo
*.vcproj.*.*.user
